################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ASADemoTelemetryDriver/App.config
/ASADemoTelemetryDriver/bin/Debug/netcoreapp2.0
/ASADemoTelemetryDriver/obj
/.vs
/ASADemoTelemetryDriverTests/bin/Debug/netcoreapp2.0
/ASADemoTelemetryDriverTests/obj
/packages
